.table-container {
    padding: 1rem;
}

.title {
    margin-bottom: 0.5rem;
    font-weight: 500;
    font-size: 1.25rem;
}

.clickable {
    cursor: pointer;
}

.table-fixed-head {
  overflow-y: auto;
}

.table-fixed-head thead th {
  position: sticky;
  top: 0;
}

.filter-input {
  max-width: 5rem;
}
