<div class="table-container">
    <div *ngIf="!settings?.hideHeader" class="d-flex justify-content-center title">{{settings.columns.appNativeID.title}}</div>
    <ng-container *ngIf="tableData">
        <table class="table" [ngClass]="tableStyle">
            <thead [ngClass]="headerStyle">
                <tr>
                    <ng-container *ngFor="let col of settings.columns.appNativeID.headers;">
                        <th scope="col">
                            <div class="d-flex justify-content-between">
                                <div>
                                    {{ col.value }}
                                </div>
                                <div class="d-flex justify-content-end">
                                    <div class="mr-1 clickable" (click)="sort(col.name, 'down')">
                                        &#8595;
                                    </div>
                                    <div class="clickable" (click)="sort(col.name, 'up')">
                                        &#8593;
                                    </div>
                                </div>
                            </div>

                        </th>
                    </ng-container>
                </tr>
            </thead>
            <tbody>
                <ng-container *ngFor="let rowData of tableData">
                    <tr class="clickable" (click)="userSelectRow(rowData.row)">
                        <ng-container *ngFor="let col of rowData.newRow">
                            <td>
                                {{ col }}
                            </td>
    
                        </ng-container>
                    </tr>
    
                </ng-container>
            </tbody>
        </table>
    
    </ng-container>
</div>


