<h3>
  Demonstration of SimpleTable
</h3>
<ul>
  <li>
    Automatically expands columns
  </li>
  <li>
    Sticky table header with vertical scroll
  </li>
  <li>
    Sort by single column
  </li>
  <li>
    Filter by single column (multiple column filter in the future)
  </li>
  <li>
    Optional title
  </li>
  <li>
    Optional filter fields
  </li>
  <li>
    Optional table height
  </li>
</ul>
<hr>

<app-simple-table [source]="source2" [settings]="settings1" (rowSelectedEvent)="userSelected($event)" [headerStyle]="'thead-light'" [maxHeight]="20"></app-simple-table>
<app-simple-table [source]="source2" [settings]="settings1" (rowSelectedEvent)="userSelected($event)" [headerStyle]="'thead-dark'" [maxHeight]="15"></app-simple-table>
<app-simple-table [source]="source2" [settings]="settings2" (rowSelectedEvent)="userSelected($event)" [headerStyle]="'thead-dark'" [maxHeight]="32" [tableStyle]="'table-striped'"></app-simple-table>
<app-simple-table [source]="source2" [settings]="settings2" (rowSelectedEvent)="userSelected($event)" [headerStyle]="'thead-light'" [maxHeight]="25" [tableStyle]="'table-striped'"></app-simple-table>